@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="demo-section k-header">
        <div id="tabstrip">
            <ul>
                <li class="k-state-active">
                    Olga
                </li>
                <li>
                    Masha
                </li>
                <li>
                    Dasha
                </li>
                <li>
                    Alex
                </li>
            </ul>
            <div>
                <div class="demo-section k-content">
                    <div>
                        <div class="textBox">
                            <label for="currency">History:</label>
                            <input type="number" value="30" min="0" max="60" style="width: 100%;" />
                        </div>
                        <div class="textBox">
                            <label for="currency">Algebra:</label>
                            <input type="number" value="30" min="0" max="60" style="width: 100%;" />
                        </div>
                        <div class="textBox">
                            <label for="currency">Biology:</label>
                            <input type="number" value="30" min="0" max="60" style="width: 100%;" />
                        </div>
                        <button id="ok1" class="k-primary">Ok</button>
                    </div>
                    <div id="chart"></div>
                </div>
            </div>
            <div>
                <div class="demo-section k-content">
                    <div>
                        <div class="textBox">
                            <label for="currency">History:</label>
                            <input type="number" value="30" min="0" max="60" style="width: 100%;" />
                        </div>
                        <div class="textBox">
                            <label for="currency">Algebra:</label>
                            <input type="number" value="30" min="0" max="60" style="width: 100%;" />
                        </div>
                        <div class="textBox">
                            <label for="currency">Biology:</label>
                            <input type="number" value="30" min="0" max="60" style="width: 100%;" />
                        </div>
                        <button id="ok2" class="k-primary">Ok</button>
                    </div>
                    <div id="chart2"></div>
                </div>
            </div>
            <div>
                <div class="demo-section k-content">
                    <div>
                        <div class="textBox">
                            <label for="currency">History:</label>
                            <input type="number" value="30" min="0" max="60" style="width: 100%;" />
                        </div>
                        <div class="textBox">
                            <label for="currency">Algebra:</label>
                            <input type="number" value="30" min="0" max="60" style="width: 100%;" />
                        </div>
                        <div class="textBox">
                            <label for="currency">Biology:</label>
                            <input type="number" value="30" min="0" max="60" style="width: 100%;" />
                        </div>
                        <button id="ok3" class="k-primary">Ok</button>
                    </div>
                    <div id="chart3"></div>
                </div>
            </div>
            <div>
                <div class="demo-section k-content">
                    <div>
                        <div class="textBox">
                            <label for="currency">History:</label>
                            <input type="number" value="30" min="0" max="60" style="width: 100%;" />
                        </div>
                        <div class="textBox">
                            <label for="currency">Algebra:</label>
                            <input type="number" value="30" min="0" max="60" style="width: 100%;" />
                        </div>
                        <div class="textBox">
                            <label for="currency">Biology:</label>
                            <input type="number" value="30" min="0" max="60" style="width: 100%;" />
                        </div>
                        <button id="ok4" class="k-primary">Ok</button>
                    </div>
                    <div id="chart4"></div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="/kendo/kendoui/js/jquery.min.js"></script>
    <script src="/kendo/kendoui/js/kendo.all.min.js"></script>

    <script>
        function createChart(teg, number1, number2, number3) {

            setSettingsBar(teg, number1, number2, number3);

        }

        function setSettingsBar(teg, number1, number2, number3) {

            var settings = {
                title: {
                    text: "Assessment of progress"
                },
                legend: {
                    visible: false
                },
                seriesDefaults: {
                    type: "bar"
                },
                valueAxis: {
                    max: 1600,
                    line: {
                        visible: false
                    },
                    minorGridLines: {
                        visible: true
                    },
                    labels: {
                        rotation: "auto"
                    }
                },
                categoryAxis: {
                    categories: ["History", "Algebra", "Biology"],
                    majorGridLines: {
                        visible: false
                    }
                },
                tooltip: {
                    visible: true,
                    template: "#= series.name #: #= value #"
                }
            };

            var settings = $.extend({}, settings, {
                series: [{
                    name: "Number",
                    data: [number1, number2, number3]
                }],
            });

            $(teg).kendoChart(settings);
        }

        

            $(document).ready(function(){
               
                $("#ok4").kendoButton({
                    click: function (e) {

                        var inputs = $(e.event.target).parent().find('input');

                        createChart("#chart4", $(inputs[0]).val(), $(inputs[1]).val(), $(inputs[2]).val());
                    }
                });
            });

            $(document).bind("kendo:skinChange", createChart);
            $(document).ready(function () {
                $("#tabstrip").kendoTabStrip({
                    animation: {
                        open: {
                            effects: "fadeIn"
                        }
                    }
                });
            });
    </script>
}

@section styles {
    <link rel="stylesheet" href="/kendo/kendoui/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="/kendo/kendoui/styles/kendo.default.min.css" />

    <style>
        div.textBox {
            display: inline-block;
            margin: 10px;
        }

        .sunny, .cloudy, .rainy {
            display: block;
            margin: 30px auto 10px;
            width: 128px;
            height: 128px;
            background: url('../content/web/tabstrip/weather.png') transparent no-repeat 0 0;
        }

        .cloudy {
            background-position: -128px 0;
        }

        .rainy {
            background-position: -256px 0;
        }

        .weather {
            margin: 0 auto 30px;
            text-align: center;
        }

        #tabstrip h2 {
            font-weight: lighter;
            font-size: 5em;
            line-height: 1;
            padding: 0 0 0 30px;
            margin: 0;
        }

            #tabstrip h2 span {
                background: none;
                padding-left: 5px;
                font-size: .3em;
                vertical-align: top;
            }

        #tabstrip p {
            margin: 0;
            padding: 0;
        }
    </style>
}

